################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug
/.vs
/NES.Net.nohelper.zip
/bin/Release
/packages
/NesChipset/x64/Release
/x64/Release
/NesChipset/vendor/FMOD/lib/arm64
/NesChipset/vendor/FMOD/lib/x86
